body {
    margin-left: 30px;
    background-image: url(imagen/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    width: 400px;
    height: 400px;
    margin-left: 20px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.profesora {
    display: flex;
    align-items: center;
}

.icono {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}